/build
.DS_Store
/nori
/warptest
/ext_build
CMakeCache.txt
CMakeSettings.json
CMakeFiles
Makefile
*.cmake
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.vs
.vscode
/out
*.sublime-workspace
*.sublime-project
*.vcxproj
*.filters
*.sdf
*.sln
*.dir
*.opendb
Debug
x64
.idea/
bin/
cmake-build-debug/
cmake-build-debug-mingw/
cmake-build-debug-visual-studio/
nori_html/
scenes/pa2/ajax.obj
*.exr
*.png
scenes/pa3/ajax.obj
scenes/pa5/ajax/ajax.obj
nori.txt
nori.udb
